/* Reset some default styles */
body, h1, h2, h3, p, ul, li, form, label, input, textarea {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #3d6413;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    border: 3px solid black;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #e6e327;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

.product-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-list li {
    flex-basis: calc(50% - 10px); /* Assuming 2 products per row */
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.product-list img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

form {
    margin-top: 20px;
}

label, input, textarea {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #e0f048;
    color: #fff;
}


